apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: koku-metrics-operator
commonLabels:
  app: backup-to-bucket

resources:
  - cronjob.yaml
  - scripts/report_cronjob.yaml

configMapGenerator:
  - name: backup-scripts
    files:
      - scripts/unzip_backup.py
      - scripts/run-backup.sh
      - scripts/postgres_interface.py
      - scripts/reports/generate_report.psql
      - scripts/reports/create_table.psql
      - scripts/costemailer/resources/CostEmailTemplate.html
      - scripts/costemailer/resources/Logo-Red_Hat-cost-management-RGB.png
      - scripts/costemailer/config.py
      - scripts/send_email.py
  - name: backup-config
    envs:
      - Documentation/config/config.env  # Path to your configuration file

secretGenerator:
  - name: backup-credentials
    envs:
      - Documentation/credentials/credentials.env  # /path to your credentials.env file
  - name: email-credentials
    envs:
      - Documentation/config/email.env  # /path to your credentials.env file
