apiVersion: batch.curator.openshift.io/v1
kind: Report
namespace: report-system
metadata:
  name: report-sample
spec:
  # Report displaying
  reportPeriod: Week
  namespace: koku-metrics-operator
  reportingEnd: "2021-10-03T12:00:00Z"  # prevents Reports targeting future time
  reportingStart: "2021-10-03T00:00:00Z"  # prevents Reports targeting future time

#  # 1. deployment config (automated Report generation)
#  schedule: "*/1 * * * *"              # schedule a future Report and email delivery
#  emailConfig: {user1:{cc: []}}        # email configuration to receive this Report
#  runImmediately: true                 # overrides schedule, generate and email immediately
#
#  # 2. sql config (Trino/Hive data analysis abstraction)
#  resourceType: Cpu, Memory, PV
#  aggregation:
#    groupBy: Pod, Namespace, Node
#    accumulator: X-hour-sum (X = 1~24)
#
#  # 3. access control
#  ???           # reject unauthorized Report generation


