apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: report-system
commonLabels:
  app: curator-api

resources:
  - api-server.yaml

configMapGenerator:
  - name: api-scripts
    files:
      - scripts/app.py
      - scripts/postgres_interface.py
      - scripts/report_interface.py
  - name: api-config
    envs:
      - config/config.env  # Path to your configuration file
